{
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.ts", "*.astro"],
      "options": {
        "semi": true
      }
    }
  ]
}
