---
import * as interfaces from '../../lib/interfaces.ts';
import { buildHeadingId } from '../../lib/blog-helpers.ts';
import { snakeToKebab } from '../../lib/style-helpers.ts';
import '../../styles/notion-color.css';

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
}

const { block, headings } = Astro.props;
---

<div class="table-of-contents">
  {
    headings.map((headingBlock: interfaces.Block) => {
      const heading =
        headingBlock.Heading1 ||
        headingBlock.Heading2 ||
        headingBlock.Heading3 ||
        headingBlock.Heading4;

      let indentClass = '';
      if (headingBlock.Type === 'heading_2') {
        indentClass = 'indent-1';
      } else if (headingBlock.Type === 'heading_3') {
        indentClass = 'indent-2';
      } else if (headingBlock.Type === 'heading_4') {
        indentClass = 'indent-3';
      }

      return (
        <a
          href={`#${buildHeadingId(heading!)}`}
          class={`table-of-contents ${snakeToKebab(
            block.TableOfContents.Color
          )} ${indentClass}`}
        >
          {heading.RichTexts.map(
            (richText: interfaces.RichText) => richText.PlainText
          ).join('')}
        </a>
      );
    })
  }
</div>

<style>
  .table-of-contents {
    margin: 0.6rem 0 1rem;
    padding: 0.4rem 0.2rem;
  }
  .table-of-contents > a {
    display: block;
    line-height: 1.5;
    padding: 0.1rem 0.5rem;
    border-radius: calc(var(--radius) / 2);
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--fg);
    transition: background-color 0.15s ease;
  }
  .table-of-contents > a:hover {
    background: var(--my-hover-color);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.06em;
  }
  .table-of-contents > a.indent-1 {
    padding-left: 1.5rem;
  }
  .table-of-contents > a.indent-2 {
    padding-left: 3rem;
  }
  .table-of-contents > a.indent-3 {
    padding-left: 4.5rem;
    font-size: 0.85rem;
    color: var(--fg-muted);
  }
</style>
