---
import type { GalleryItem } from '../lib/interfaces';
import GalleryImage from './GalleryImage.astro';

export interface Props {
  post: GalleryItem;
}

const { post } = Astro.props;
const title = post.Title;
---

<div class="gallery-tile">
  <GalleryImage post={post} />
  <h2 class="post-title" title={title}>
    {title}
  </h2>
</div>

<style>
  .gallery-tile {
    display: flex;
    flex-direction: column;
  }

  .post-title {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* 親要素の幅に合わせるために追加 */
  }

  .post-title a {
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 640px) {
    .post-title {
      font-size: 0.9rem;
    }
  }
</style>
