---
import { getGalleryLink } from '../lib/blog-helpers';
import GalleryImage from './GalleryImage.astro';

const { post } = Astro.props;
const title = post.Title;
---

<div class="gallery-tile">
  <GalleryImage post={post} />
  <h2 class="post-title">
    <a href={getGalleryLink(post.Slug)}>{title}</a>
  </h2>
</div>

<style>
  .gallery-tile {
    display: flex;
    flex-direction: column;
  }

  .post-title {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    font-weight: 500;
  }

  .post-title a {
    color: inherit;
    text-decoration: none;
  }

  @media (max-width: 640px) {
    .post-title {
      font-size: 0.9rem;
    }
  }
</style>
