@import url('./my-variables.css');

.container {
  min-height: 100vh;
}

.container > div {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 640px) {
  .container > div {
    display: block;
  }
}

main {
  flex: 1;
  order: 2;
  justify-content: space-between;
}
@media (max-width: 640px) {
  main {
    order: 1;
  }
}

aside {
  order: 1;
  width: 300px;
  padding: 20px 20px;
  background-color: var(--my-bg-color);
}
@media (max-width: 640px) {
  aside {
    order: 2;
    width: 100%;
  }
}

div.cover {
}
div.cover img {
  display: block;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  object-position: center 60%;
}

div.content {
  padding: 20px 40px;
  min-height: 80vh;
  background-color: var(--my-fr-color);
}
@media (width <= 640px) {
  div.content {
    padding: 10 20px;
  }
}
@media (640px < width < 1280px) {
  aside {
    width: 200px;
    padding: 10px;
  }
  div.content {
    width: calc(100vw - 220px);
  }
}
@media (width >= 1280px) {
  main {
    display: flex;
    justify-content: center;
    background: var(--my-bg-color);
  }
  div.content {
    max-width: 1000px;
  }
}

main header {
  padding: 20px 0 20px;
}
main header h1 {
  font-weight: 700;
  color: #333;
}
main header h1 a {
  display: block;
  color: inherit;
}
main header h1 a:hover {
  color: inherit;
}
main header h1 a span,
main header h1 a img {
  display: inline-block;
  font-size: 1.1em;
}
main header h1 a span {
  margin-right: 0.3em;
  margin-left: -0.1rem;
}
main header h1 a img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.2em;
  margin-left: -0.3rem;
  vertical-align: sub;
}
main header h1 a img.custom-icon {
  border-radius: var(--radius);
}

main header div.description {
  padding: 0.3rem 0 0.6rem;
  font-size: 0.95rem;
}

main footer {
  margin: 30px 0 10px;
  text-align: center;
  font-size: 0.75rem;
}
@media (max-width: 640px) {
  main footer {
    margin: 0 auto 30px;
  }
}
main footer span {
  color: #777;
}
main footer a {
  color: inherit;
  text-decoration: underline;
}
