:root {
  --my-aside-color: #ececff;
  /* 通常時のリンク背景 */
  --my-fr-color: #fcfcfc;
  --my-bg-color: #c9c9e1;
  --my-accent-color: #6567c6;
  /* 元々のアクセントカラー */

  --my-fg-color: #333333;
  /* 通常時の文字色 */
  --my-gray-light: #cccccc;
  /* 通常時の輪郭線 */
  --my-hover-color: #dcdcf0;
  /* ホバー時の背景色 */

  --my-blue-dark: #4a70a7;
  /* Blogアクティブ時の背景 (少し明るめに調整) */
  --my-blue-darker: #3a5a97;
  /* Blogアクティブ時の輪郭線 */

  --my-purple-dark: #7c5295;
  /* Galleryアクティブ時の背景 (少し明るめに調整) */
  --my-purple-darker: #5d3d74;
  /* Galleryアクティブ時の輪郭線 */

  --radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --my-aside-color: #1f2235;
    --my-fr-color: #15192b;
    --my-bg-color: #0f111d;
    --my-accent-color: #8f93ff;

    --my-fg-color: #f3f4ff;
    --my-gray-light: rgba(255, 255, 255, 0.2);
    --my-hover-color: rgba(132, 138, 202, 0.35);

    --my-blue-dark: #4a6edb;
    --my-blue-darker: #3a5ac7;

    --my-purple-dark: #8b63c5;
    --my-purple-darker: #6e4e9f;
  }
}
